body {
  /* background: blue; */
  background-image: linear-gradient(to left, blue,indigo);
}
.title {
  color: white;
  font-family: cursive;
  text-shadow: 1px 1px #fe4902,
                2px 2px #fe4902,
                3px 3px #fe4902;
  font-size: 50px;
  position: relative;
  left: 480px;
}
.header{
  /* position: relative; */
  left: 530px;
}
h3{
  color: white;
  font-family: 'Dancing Script', cursvie;
  position: absolute;;
  top: 100px;
  font-size: 22px;
}

.title:hover, a:hover, .logo:hover{
  color: red;
}
#create_movie_posting_form{
  position: absolute;
  top: 530px;
}
.button{
  background-color: transparent;
  font-weight: bold;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
}
.button:hover{
  background-color: darkblue;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.model, .createMoviePost{
  width: 380px;
  height: 60%;
  margin: auto;
  top: 0px;
  right: 0px;
  bottom: -70px;
  left: 0px;
  position: fixed;
  background-color: black;
  border: 2px solid #239;
  border-radius: 10px;
  box-sizing: border-box;
  opactiy: 1;
}
p{
  color: white;
}
.modelHeading, .movieModelHeading{
  width: 100%;
  display: block;
  height: 60px;
  margin-bottom: 30px;
  color: yellow;
  box-sizing: border-box;
  text-align: center;
  font-size: 30px;
  font-family: 'Righteous', cursive;
  border-bottom: 2px solid #fefefe;
}
.model input{
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  height: 45px;
  border: 0px;
  text-align: center;
  float: center;
  font-family: georgia;
  font-size: 10pt;
  border: 2px solid #333;
  padding: 7px 9px 11px 9px;
}
.registerButton{
  padding: 10px 15px;
  border-radius: 10px;
  width: 100%;
  background-color: red;
  font-size: 15pt;
  border: 2px solid #333;
  padding: 7px 9px 11px 9px;
}
.registerButton:hover, .createPostButton:hover{
  color: white;
  font-weight: bold;
}
#reset{
  position: relative;
  right: -220px;
  top: 0px;
}
#create{
  position: relative;
  right: -220px;
  bottom: -70px;
}

 /* NAVBAR */
 *{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
 }
 li, a{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 16px;
    color: red;
    text-decoration: none;
 }
 header{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 30px 10%;
 }
 .navLinks{
   list-style: none;
 }
 .navLinks li{
   display: inline-block;
   padding: 0px 20px;
 }
 .navLinks li, a{
   transition: all 0.3s ease 0s;
 }
 .navLinks li, a:hover{
   transition: all 0.3s ease 0s;
   color: green;
   font-weight: bold;
 }
 .logo{
   color: white;
   cursor: pointer;
   margin-right: auto;
   text-shadow: 1px 1px #fe4902,
                 2px 2px #fe4902,
                 3px 3px #fe4902;
 }
 #movie_post_list{
   position: absolute;
   top: 900px;
   color: white;
 }
 #movie_post_list img{
border: 1px solid #ddd;
border-radius: 4px;
padding: 5px;
width: 150px;
}
 #movie_post_list ul li{
   lis-style: none;
 }
 .gridView{
   display: grid;
   grid-template-columns: 160px 160px 160px 160px 160px 160px;
   grid-gap: 60px;
 }
