body {
  /* background: blue; */
  background-image: linear-gradient(to left, blue,indigo) !important;
}
.title {
  color: white;
  font-family: cursive;
  text-shadow: 1px 1px #fe4902,
                2px 2px #fe4902,
                3px 3px #fe4902;
  font-size: 50px;
  position: relative !important;
  left: 480px !important;
}
.header{
  /* position: relative; */
  left: 530px;
}

h2{
  color: white;
  position: relative;
  left: 80px;
}

h3{
  color: white;
  font-family: 'Dancing Script', cursvie !important;
  position: absolute !important;
  /* top: 100px !important; */
  top: 60px !important;
  font-size: 22px !important;
}

.title:hover, a:hover, .logo:hover{
  color: red;
}
#create_movie_posting_form{
  position: absolute;
  top: 530px;
}
.button{
  background-color: transparent;
  font-weight: bold;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
}
.button:hover{
  background-color: darkblue;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.model, .createMoviePost{
  width: 380px;
  height: 60%;
  margin: auto;
  top: 0px;
  right: 0px;
  bottom: -70px;
  left: 0px;
  position: fixed;
  background-color: black;
  border: 2px solid #239;
  border-radius: 10px;
  box-sizing: border-box;
  opactiy: 1;
}
p{
  color: white;
}
.modelHeading, .movieModelHeading{
  width: 100%;
  display: block;
  height: 60px;
  margin-bottom: 30px;
  color: yellow;
  box-sizing: border-box;
  text-align: center;
  font-size: 30px;
  font-family: 'Righteous', cursive;
  border-bottom: 2px solid #fefefe;
  position: relative; /* added to position title*/
  bottom: -10px; /* added to position title*/

}
.model input{
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  height: 45px;
  border: 0px;
  text-align: center;
  float: center;
  font-family: georgia;
  font-size: 10pt;
  border: 2px solid #333;
  padding: 7px 9px 11px 9px;
}
.registerButton{
  padding: 10px 15px;
  border-radius: 10px;
  width: 100%;
  background-color: red;
  font-size: 15pt;
  border: 2px solid #333;
  padding: 7px 9px 11px 9px;
}
.registerButton:hover, .createPostButton:hover{
  color: white;
  font-weight: bold;
}
#reset{
  position: relative;
  right: -220px;
  top: 0px;
}
#create{
  position: relative;
  right: -220px;
  bottom: -70px;
}

 /* NAVBAR */
 *{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
 }
 li, a{
    font-family: 'Didact Gothic', sans-serif;
    font-size: 16px;
    color: red !important;
    text-decoration: none;
 }
 header{
   display: flex !important;
   justify-content: flex-end;
   align-items: center;
   padding: 30px 10%;
 }
 .navLinks{
   list-style: none;
 }
 .navLinks li{
   display: inline-block;
   padding: 0px 20px;
 }
 .navLinks li, a{
   transition: all 0.3s ease 0s;
 }
 .navLinks li, a:hover{
   transition: all 0.3s ease 0s !important;
   color: green !important;
   font-weight: bold;
 }
 .logo{
   color: white;
   cursor: pointer;
   margin-right: auto;
   text-shadow: 1px 1px #fe4902,
                 2px 2px #fe4902,
                 3px 3px #fe4902;
 }

 .logout{
   border: none;
   color: white !important;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   margin: 4px 2px;
   font-size: 15px;
   background-color: black;
   font-weight: bold;
   position: relative;
   left: 80px;
 }

 .logout:hover{
    background-color: black;
    transition-duration: 0.4s;
    box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
 }
.favoriteButton{
  color: white;
  border: none;
  display: inline-block;
  text-decoration: none;
  padding: 5px 32px;
  background-color: transparent;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  left: 50px;
  transition-duration: 0.4s;
}
.favoriteButton:hover{
  background-color: black;
}
span{
  bottom: 30px;
}
i{
  color: gray;
}
i:hover{
  color: red
}
.AccountInfoWrapper{
  /* margin: auto; */
  width: 50%;
  position: absolute;
  height: 200px;
  background-color: blue;
  margin: 40px 30px 0px 40px;
  padding: 20px 0px;
  box-shadow: 5px 10px 18px black;
  top: 100px;
  right: 30px;
}
#h2{
  right: 20px;
  font-family: cursive;
}
.positionRight{
  font-family: cursive;
  left: 700px;
  top: -220px;
  font-family: cursive;
  text-shadow: 1px 1px #fe4902,
                2px 2px #fe4902,
                3px 3px #fe4902;

}
#text{
  font-size: 20px;
  font-family: cursive;
  position: relative;
  right: -10px;
}
.update{
  border: none;
  color: white !important;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  font-size: 15px;
  background-color: black;
  font-weight: bold;
  position: relative;
  right: -10px;
}

.update:hover{
   background-color: black;
   transition-duration: 0.4s;
   box-shadow: 0 5px 15px rgba(145, 92, 182, .4);
}
#movie_post_list ul{
  lis-style: none;
  width: 650px;
}
